<br>
<h2>About</h2>

<div class="container mt-5" style="font-size: larger;">


<p>
  Court Booking KUPTM System is a system that helps students to rent a court owned by KUPTM for sport activity.
  In the past, student need to submit booking form through paper and it takes time.
  Through this page students need to fill a form with chosen date and time. Then, the form will be submitted and checked
  by admin. Admin will approve the form if the date and time is available for booking. Student will receive notifivation of the
  booking status.
</p>

</div>

