<br>
<h2>FAQS</h2>

<div class="container mt-5">

<p><b>
Do students need to sign up before using the system?</b></p>
<p>No, student just need to fill in the form provided in the system.
</p>

<p><b>
  Who will check the student booking application?</b></p>
 <p>Admin or KUPTM staff will check booking's form send by students. They also will approve the form.
</p>

<p><b>
  What the best time to book the court?</b></p>
 <p>At least 12 hours before the time using the court.
</p>

<p><b>
  What happen if booking appication is not accepted?</b></p>
<p>Student will received the notification or student can meet the staff directly at front table.
</p>

<p><b>
  What day the court is not available for student?</b></p>
<p>The day when KUPTM organize a program.
</p>

</div>
